<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>Created by {{name}}</p>
        <img src="/img/canvas.png">
    </body>
</html>