<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <!-- Using a partial, referencing it directly from the partial directory that i set up -->
            {{>header}}
            <p>{{helptext}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>